<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ad</title>
</head>

<body>

    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading"> Menu </div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action bg-light" (click)="showAll()">All advertisements</a>
                <a class="list-group-item list-group-item-action bg-light" (click)="showAddAdvertisementForm()">Add advertisement</a>
                <a class="list-group-item list-group-item-action bg-light">Search</a>
                <a class="list-group-item list-group-item-action bg-light" (click)="showCreateReportForm()">New renting report</a>
                <a class="list-group-item list-group-item-action bg-light" (click)="showRequestHistory()">Sent requests history</a>
                <a class="list-group-item list-group-item-action bg-light" (click)="showMessages()">Messages</a>
                <a class="list-group-item list-group-item-action bg-light">Vehicle tracking</a>
                <a class="list-group-item list-group-item-action bg-light" (click)='changePassword()'>Change password</a>
                <a class="list-group-item list-group-item-action bg-light" (click)=rentingMenagement()>Car menagement</a>
                <a class="list-group-item list-group-item-action bg-light" (click)="showStatistics()">Statistics</a>



            </div>
        </div>

        <!-- /#sidebar-wrapper -->
        <div id="page-content-wrapper">
             <router-outlet></router-outlet>
        </div><!-- Page Content Wrapper -->
    </div><!-- Wrapper -->
</body>

</html>