<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ad</title>
</head>

<body>

    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading"> Menu </div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action bg-light" (click)="showAll()">All advertisements</a>
                <a class="list-group-item list-group-item-action bg-light" (click)="showAddAdvertisementForm()">Add advertisement</a>
                <a class="list-group-item list-group-item-action bg-light">Search</a>
                <a class="list-group-item list-group-item-action bg-light" (click)="showCreateReportForm()">New renting report</a>
                <a class="list-group-item list-group-item-action bg-light">Sent requests history</a>
                <a class="list-group-item list-group-item-action bg-light" (click)="showMessages()">Messages</a>
                <a class="list-group-item list-group-item-action bg-light">Vehicle tracking</a>
                <a class="list-group-item list-group-item-action bg-light" (click)='changePassword()'>Change password</a>

            </div>
        </div>

        <!-- /#sidebar-wrapper -->
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" >Home <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
                <button class="btn btn-primary" style="margin-top: 0 !important;" (click)="logout()">Log out</button>
            </nav>

            <div class="container fluid">
             <router-outlet></router-outlet>


            </div>
        </div><!-- Page Content Wrapper -->
    </div><!-- Wrapper -->
</body>

</html>