<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link">Manage comments <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="showPendingComments()">Pending comments</a>
            </li>
        </ul>
    </div>
    <button class="btn btn-primary" style="margin-top: 0 !important;">Log out</button>
</nav>

<router-outlet></router-outlet>
