<div class="container fluid">
    <ng-container>
           <table class="table table-borderless">
               <thead>
                 <tr>           
                   <th>Car</th>
                   <th>Start date</th>
                   <th>End date</th>
                   <th>Status</th>
                 </tr>
               </thead>
               <tbody>
                 <tr *ngFor="let rr of requests">           
                   <td>{{ rr.carName }}</td>
                   <td>{{ rr.startDateString }}</td>
                   <td>{{ rr.endDateString }}</td>
                   <td>{{ rr.status }}</td>
                   <td><button class="btn btn-primary" (click)="approve(rr.id)">Approve rent request</button></td>
                   <td><button class="btn btn-primary" (click)="reject(rr.id)">Reject rent request</button></td>
 
               </tr>
               </tbody>
             </table>
       </ng-container>
    </div>