<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="d-flex" id="wrapper">
        <div id="page-content-wrapper">
      <div class="container fluid">
                <p></p>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label>Type in old password</label>
                            <input type="text" id="oldPass" class="form-control" name="oldPass"
                                [(ngModel)]="oldPassword" />
                        </div>
                    </div>
                    <div class="form-row">
                        <label> </label>
                        <button class="btn btn-primary btn-lg" (click)="checkPassword()">Confirm old password</button>
                    </div>
                    <ng-container *ngIf="checked">
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label>Type in new password</label>
                            <input type="text" id="newPass" class="form-control" name="newPass"
                             [(ngModel)]="newPassword"/>
                        </div>
                   </div>
                    <div>                
                        <button class="btn btn-primary btn-lg" (click)="changePassword()">Set new password</button>
                    </div>
                </ng-container>
            </div>
        </div><!-- Page Content Wrapper -->
    </div><!-- Wrapper -->
</body>
</html>