<div class="wrapper fadeInDown">
    <div id="formContent">
        <table class="table table-borderless">
            <thead>
              <tr>           
                <th>Car name</th>
                <th>Town</th>
                <th>Model</th>
                <th>Fuel</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of cars">           
                <td>{{ user.carName }}</td>
                <td>{{ user.town }}</td>
                <td>{{ user.model }}</td>
                <td>{{ user.fuel }}</td>
                <td><button class="btn btn-primary "(click)="selectDate(user.carName)">Select date</button></td>
              </tr>
            </tbody>
        </table>

        <ng-container *ngIf="date">
        <div class="col-md-4 mb-3">
          <label>Select start date of departure</label>
          <input type="date" [(ngModel)]="selectedStartDate" > 
        </div>
        <div class="col-md-4 mb-3">
          <label>Select end date of departure</label>  
          <input type="date" [(ngModel)]="selectedEndDate" >
        </div>
        <button class="btn btn-primary "(click)="reserve()">Reserve</button>
      </ng-container>
        <div id="formFooter">
        </div>
    </div>
</div>
