<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rent Request</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" href="css/register.css"> -->
    <!-- <script src="js/Register.js"></script> -->
</head>
<body>
<div class="wrapper fadeInDown">
    <!-- <div id="formContent">
        <div class="fadeIn first">
            <img src="" id="icon" />
        </div>
        <div>
            <select [(ngModel)]="car">
                <option [ngValue]="car" *ngFor="let car of cars" (click)="selectedCar(car)">{{car.name}}</option>
            </select>
        </div>  
    <input type="date" [(ngModel)]="selectedStartDate" > 
    <input type="date" [(ngModel)]="selectedEndDate" (ngModelChange)="selectEndDate()">
            <button class="btn btn-primary fadeIn fourth" (click)="onSubmit()">Make a rent request</button>
        <div id="formFooter">
        </div>
    </div> -->

    <div id="formContent">


        <div class="col-md-4 mb-3">
          <label>Select place of departure</label>
          <select [(ngModel)]="city" class="form-control">
              <option [ngValue]="city" *ngFor="let city of citys">
                  {{city}}
              </option>
          </select>
        </div>
        <div class="col-md-4 mb-3">
          <label>Select start date of departure</label>
          <input type="date" [(ngModel)]="selectedStartDate" > 
        </div>
        <div class="col-md-4 mb-3">
          <label>Select end date of departure</label>  
          <input type="date" [(ngModel)]="selectedEndDate" (ngModelChange)="selectEndDate()">
        </div>

        <button class="btn btn-primary fadeIn fourth" (click)="getAvailableCars()">See available cars</button>
        <button class="btn btn-primary fadeIn fourth" (click)="filterCars()">Filter cars</button>

        <ng-container *ngIf="availableCars">
            <table class="table table-borderless">
                <thead>
                  <tr>           
                    <th>Car name</th>
                    <th>Town</th>
                    <th>Model</th>
                    <th>Fuel</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of cars">           
                    <td>{{ user.carName }}</td>
                    <td>{{ user.town }}</td>
                    <td>{{ user.model }}</td>
                    <td>{{ user.fuel }}</td>

                    <td><button class="btn btn-primary "(click)="naKlik(user.carName)">Reserve</button></td>
                  </tr>
                </tbody>
              </table>
        </ng-container> 
        <div id="formFooter">
        </div>
    </div>
</div>
</body>
</html>