<div class="container fluid">
    <ng-container>
          <table class="table table-borderless">
              <thead>
                <tr>           
                  <th>carName</th>
                  <th>Start date</th>
                  <th>End date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of rentRequests">           
                  <td>{{ user.carName }}</td>
                  <td>{{ user.startDate }}</td>
                  <td>{{ user.endDate }}</td>
                  <td><button class="btn btn-primary "(click)="payRent(user.id)">Pay</button></td>
                </tr>
              </tbody>
            </table>
      </ng-container>
  </div>