<div class="container fluid">
    <ng-container>
          <table class="table table-borderless">
              <thead>
                <tr>           
                  <th>Car</th>
                  <th>Owner email</th>
                  <th>Daily rent </th>
                  <th>Collision Damage Waiver </th>
                  <th>Additional mileage</th>
                  <th>Discount percentage</th>
                  <th>Total amount</th>


                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let receipt of receipts">           
                  <td>{{ receipt.carName }}</td>
                  <td>{{ receipt.owner }}</td>
                  <td>{{ receipt.dailyRentPrice }}</td>
                  <td>{{ receipt.waiverPrice }}</td>
                  <td>{{ receipt.overusedPrice }}</td>
                  <td>{{ receipt.discount }}</td>
                  <td>{{ receipt.sum }}</td>

                  <td><button class="btn btn-primary "(click)="payRent(receipt.carId)">Pay</button></td>
                </tr>
              </tbody>
            </table>
      </ng-container>
  </div>